<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>


<div class="box">
  <% newListItems.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="hidden"
        name="itemId"
        value="<%= item._id %>"
      />
      <button type="submit" class="delete-button">Delete</button>
      <p><%= item.name %></p>
    </div>
  </form>
  <% }); %>
</div>

/

<!-- this one was delete the list by checked box and i updated by the above button code
  <div class="box">
  <% newListItems.forEach(function(item) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%= item._id%>"
        onchange="this.form.submit()"
      />
      <p><%= item.name %></p>
    </div>
  </form> 
  <% }); %> -->

  <form class="add" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<%- include("footer") -%>
